@media (max-width: 575.98px) {
    body {
        /* background: red; */
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        /* background: blue; */
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    body {
        /* background: gold; */
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    body {
        /* background: green; */
    }
}

@media (min-width: 1200px) {
    body {
        /* background: darkgray; */
    }
}

html,
body {
    width: 100%;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    font-weight: normal;
}

.header {
    font-size: 14px;
    background: #2d71e1;
    color: #fff;
    padding: 12px 15px;
    font-weight: normal;
}

.header .hdtop .hdtopl {}

.header .hdtop .hdtopr {
    margin-left: 18px;
    font-size: 28px;
    margin-top: 12px;
}

.header .ht1 {
    margin-top: 15px;
}

.header .ht2 {
    margin-top: 0px;
    font-size: 48px;
    font-weight: bolder;

}

.header .ht3 {
    margin-bottom: 8px;
}

.header .ht3 span {
    color: #eee;
    border: 1px solid #eee;
    padding: 1px 5px;
    border-radius: 2px;
}

.logo {
    width: auto;
    height: 60px;
}

.prodetai {
    padding: 15px;
}

.prodetai .title {
    font-weight: bolder;
    font-size: 18px;
}

.prodetai .detail {
    padding: 12px 0;
    color: #aaa;
    font-size: 14px;
    line-height: 28px;
}

.prodetai .detail .pdr {}

.prodetai .detail .pdr .pdrl {
    float: left;
}

.prodetai .detail .pdr .pdrr {
    float: right;
    color: #999;
}

.hezuo {}

.hezuo img {
    width: 100%;
}

.service {
    margin: 18px auto 0;
    text-align: center;
}

.service span {
    padding: 3px 8px;
    border: 1px solid #b9c2d0;
    border-radius: 16px;
    line-height: 25px;
    color: #333440;
    background: #fff;
}

.service .icon {
    width: .9375rem;
    vertical-align: middle;
}

.footer {
    background: #babecb;
    color: #fff;
    text-align: center;
    padding: 12px 15px;
    margin-top: 18px;
}

.info {
    padding: 0px 15px 58px 15px;
}

.info .infodt {
    line-height: 28px;
    text-align: center;
}

.info .infodt div {
    text-align: center;
    width: 100%;
    margin: auto;
    line-height: 38px;
    margin-top: 15px;
}

.info .infodt input {
    width: 96%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 9px;
    font-size: 14px;
}

#btnpost {
    background: #2d71e1;
    color: #fff;
}


/* 首页 */
.img-g {
    position: relative;
    height: 405px;
}

.img-g img {
    position: absolute;
    top: 0px;
}


/* 导航 */
.drawer--right.drawer-open .drawer-hamburger {
    right: 0;
}

.drawer-brand {
    font-size: 18px !important;
    line-height: 60px;
}

.drawer-menu-item .iconfont {
    font-size: 18px;
    margin-right: 12px;
}

.drawer-menu li {
    border-bottom: 1px solid #eee;
}

.drawer-nav {
    width: 180px;
}

.drawer-hamburger {
    outline: none !important;
}

.drawer-menu-item {
    font-size: 17px;
}