@charset "utf-8";

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,select,small,span,strike,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,tt,u,ul,var,video,input {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Microsoft Yahei"
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

:after,:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

table {
	border-collapse: collapse
}

body,html {
	font-family: "Microsoft Yahei";
	color: #333;
	overflow-x: hidden;
	font-size: 0.22rem;
}

body {
	background: #fff;
}

a,img {
	border: 0;
	text-decoration: none;
	margin: 0;
	padding: 0
}

select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

ol,ul {
	list-style: none
}

.clearfix:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
}

.clearfix {
	zoom: 1
}

a {
	color: #333;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-tap-highlight-color: rgba(0, 0, 0, 0);
	-o-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
}

a:link {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-tap-highlight-color: rgba(0, 0, 0, 0);
	-o-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
}

a:visited {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-tap-highlight-color: rgba(0, 0, 0, 0);
	-o-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-tap-highlight-color: rgba(0, 0, 0, 0);
	-o-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
}

a:active {
	text-decoration: none
}

img {
	max-width: 100%;
	height: auto
}

.img-blocks,.img-blocks img {
	display: block
}

.content {
	width: 7.5rem;
	margin: 0 auto
}

.bg100 {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	opacity: .6;
	z-index: 6;
	display: none
}

/*eject*/
.bg100 {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	opacity: 0.6;
	z-index: 6;
	display: none;
}

.eject {
	position: fixed;
	width: 100%;
	left: 0;
	top: 15%;
	z-index: 9;
	display: none;
}

.eject-cont {
	position: relative;
	width: 6rem;
	margin: 0 auto;
	background: #fff;
	border-radius: 8px;
}

.eject-title {
	position: relative;
	height: 1px;
	color: #333;
	font-weight: 400;
	background: none;
}

.eject-title .closes {
	position: absolute;
	width: .5rem;
	height: .5rem;
	right: -.1rem;
	top: -.56rem;
	text-align: center;
	line-height: .46rem;
	font-size: .36rem;
	color: #fff;
	border: #fff 1px solid;
	border-radius: 50%;
	font-weight: 200;
	z-index: 4;
}

.eject-title .closes:hover {
	color: #333;
	text-decoration: none;
}

.messages {
	padding: 0.2rem;
}

.messlist {
	height: 0.7rem;
	position: relative;
	margin-bottom: 0.2rem;
}

.messlist input {
	margin: 0;
	padding: 0;
	background: none;
	border: 0;
	height: 0.7rem;
	border: #ccc 1px solid;
	width: 100%;
	font-size: 0.23rem;
	outline: none;
	padding:0 0 0 .15rem;
	-moz-border-radius: 5px;
      /* Gecko browsers */
	-webkit-border-radius: 5px;
   /* Webkit browsers */
	border-radius: 5px;
            /* W3C syntax */
}

.messlist .inputYzm {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	width: 2rem;
	background: #cc211a;
	color: #fff;
	text-align: center;
	border: 0;
}

.messsub {
	height: 0.65rem;
	line-height: 0.65rem;
	text-align: center;
	background: #cc211a;
	color: #fff;
	font-size: 0.3rem;
	cursor: pointer;
	-moz-border-radius: 5px;
      /* Gecko browsers */
	-webkit-border-radius: 5px;
   /* Webkit browsers */
	border-radius: 5px;
            /* W3C syntax */
}

.messsub a {
	color: #fff;
}

.tipsss {
	width: 100%;
	margin: 0 auto;
	font-size: 0.22rem;
	color: #666;
	padding: 5px 0 0 0;
}

.tip-success-bg {
	position: fixed;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	z-index: 99;
	display: none
}

.tip-success-bg div {
	cursor: default
}

.tip-tip-box {
	height: 1rem;
	margin: -17px 0 0 0
}

.tip-tip-box-nei {
	display: inline-block;
	height: 1rem;
	padding: 0 0.5rem;
	line-height: 1rem;
	background: url(../images/black60.png);
	-moz-border-radius: .1rem;
	-webkit-border-radius: .1rem;
	border-radius: .1rem;
	opacity: 0;
	color: #fff;
	font-size: 0.28rem;
}

.tip-tip-box-nei strong {
	font-weight: 400;
}

.header{width:100%;}
.header .head{
	width:7.5rem;
	height:1rem;
	height:.8rem;
	line-height:.8rem;
	margin:0 auto;
	position:relative;
	text-align:center;
	color:#333;
	font-size:.3rem;
	border-bottom:#e2e2e2 1px solid;
}
.back{
	position:absolute;
	left:.15rem;
	top:0;
	width:.4rem;
	height:.8rem;
	color:#fff;
	font-size:.36rem;
	padding-left:.34rem;
	background:url(../images/icon-left.png) left center no-repeat;
	background-size:.4rem .4rem;
}
/*首页*/
.index_cont:before {
  content: ' ';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  width:7.5rem;
  margin-left:-3.75rem;
  background:#f5f5f5;
  background-size: cover;
  padding-bottom:.5rem;
}
.title{
	padding:1.02rem 0 .69rem 0;
}
.title img{
	width:3.03rem;
	height:.94rem;
	margin:0 auto;
}
.text{
	padding:0 0 .8rem 0;
	font-size:.3rem;
	color:#444445;
	line-height:.64rem;
	text-align:center;
}
.nav{
	padding:0;
	width:6.88rem;
	margin:0 auto;
}
.nav li{
	width:100%;
	height:.98rem;
	margin-bottom:.22rem;
	border-radius:.1rem;
}
.nav li.index_icon1{
	background:#fff url(../images/index_icon1.png) .28rem center no-repeat;
	background-size:.6rem .6rem;
}
.nav li.index_icon2{
	background:#fff url(../images/index_icon2.png) .28rem center no-repeat;
	background-size:.6rem .6rem;
}
.nav li.index_icon3{
	background:#fff url(../images/index_icon3.png) .28rem center no-repeat;
	background-size:.6rem .6rem;
}
.nav li a{
	display:block;
	width:100%;
	height:.98rem;
	line-height:.98rem;
	font-size:.3rem;
	color:#333;
	padding-left:.98rem;
	background:url(../images/icon-right.png) 6.39rem center no-repeat;
	background-size:.2rem .36rem;
	position:relative;
}
/*服务须知*/
.service_cont:before {
  content: ' ';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  width:7.5rem;
  margin-left:-3.75rem;
  background:#f5f5f5;
  background-size: cover;
  padding-bottom:.5rem;
}
.service{
	width:7rem;
	margin:.3rem auto .3rem auto;
}
.ser-ti{
	width:1.98rem;
	height:.62rem;
	line-height:.62rem;
	font-size:.3rem;
	color:#000;
	text-align:center;
	background:#5373c6;
}
.ser-text{
	padding:.2rem 0 0 0;
	color:#333;
	font-size:.27rem;
	line-height:.44rem;
}

/*登录*/
.login_cont:before {
  content: ' ';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  width:7.5rem;
  margin-left:-3.75rem;
  background: #f5f5f5;
  padding-bottom:.5rem;
}
.login{
	width:6.5rem;
	margin:1.5rem auto 1rem auto;
}
.loginList{
	width:100%;
	position:relative;
	height:1rem;
	margin-bottom:.75rem;
	background:#fff;
	border-radius:.1rem;
	overflow:hidden;
}
.loginList input{
	width:100%;
	outline:none;
	height:1rem;
	padding-left:.9rem;
	font-size:.32rem;
	color:#333;
}
.loginList .login-tel{
	background:url(../images/icon-tel.png) .25rem center no-repeat;
	background-size:.51rem .51rem;
}
.loginList .login-code{
	background:url(../images/icon-name.png) .25rem center no-repeat;
	background-size:.51rem .51rem;
}
.loginSub{
	width:100%;
	height:1rem;
	line-height:1rem;
	text-align:center;
	color:#fff;
	font-size:.35rem;
	background:#5373c6;
	background-size:100%;
	margin-top:1.95rem;
	font-weight:bold;
	border-radius:.1rem;
}
.loginList .input_yzm{
	position:absolute;
	right:0;
	top:0;
	width:1.7rem;
	height:1rem;
	background:none;
	color:#333;
	font-size:.24rem;
	padding:0;/*
	background:url(../images/line.png) left center no-repeat;
	background-size:.02rem .3rem;*/
}

/*发票信息*/
.invoice_cont:before {
  content: ' ';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  width:7.5rem;
  margin-left:-3.75rem;
  background:#f5f5f5;
  background-size: cover;
  padding-bottom:.5rem;
}
.float-l{
	float:left;
}
.float-r{
	float:right;
}
.forms{
	width:7.05rem;
	margin:.3rem auto .5rem auto;
	
}
.formList{
	background-color:#fff;
	border-radius:.1rem;
	margin-bottom:.2rem;
}
.formTi.float-l{
	width:1.6rem;
	padding:0 0 0 .2rem;
	text-align:left;
	color:#000;
	font-size:.28rem;
	height:.86rem;
	line-height:.86rem;
	white-space:nowrap; 
}
.form_input input,.car_houer_date {
	width: 5.4rem;
	height: .86rem;
	line-height: .86rem;
	font-size: .28rem;
	color: #333;
	padding-right: .5rem;
	padding-left: .1rem;
	background: none;
	outline: none;
	text-align: right;
}
.form_input .form_sel {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
	display: block;
	width: 5.44rem;
	height: .86rem;
	padding-left: .1rem;
	padding-right: .5rem;
	font-size: .28rem;
	background: url(../images/sel_bg.png) right center no-repeat;
	background-size: .32rem .27rem;
	direction: rtl;

}

.formCity{
	width:3.45rem;
	background:#fff;
	border-radius:.1rem;
}
.formCity .form_sel{
	width:1.85rem;
}
.formTi{
	padding:0 .2rem .3rem .2rem;
	color:#333;
	font-size:.32rem;
	line-height:.56rem;
}
.formTip{
	height:.8rem;
	line-height:.8rem;
	padding-left:.6rem;
	color:#fff;
	font-size:.24rem;
	background:url(../images/icon-tip.png) .3rem center no-repeat;
	background-size:.24rem .24rem;
}
.formList.fom_upload{
	background:none;
}

/*上传图片*/
.zhl_admin_box{
	padding:0 0 .35rem .2rem
}
.zhl_admin_imgs{
	float:left;
}
.zhl_admin_imgs .zhl_admin_update_imgtmp{
	float:left;
	width:1.6rem;
	height:1.6rem;
	border:#818182 1px solid;
	margin:0 .5rem .3rem 0;
	position:relative;
}
.zhl_admin_imgs .zhl_admin_update_imgtmp img{
	width:1.6rem;
	height:1.6rem;
	padding:.1rem;
}
.zhl_admin_imgs .zhl_admin_update_imgtmp i{
	position:absolute;
	width:1.6rem;
	height:1.6rem;
	background:url(../images/del.png) center center no-repeat;
	background-size:100%;
	left:0;top:0;
	z-index:2;
}
.updateInput{
	float:left;
	width:1.6rem;
	height:1.6rem;
	position:relative;
	overflow:hidden;
}
.updateInput input{
	position:absolute;
	width:100%;
	height:100%;
	z-index:2;
	opacity:0;
}
.updateInput img{
	position:absolute;
	right:0;
	top:0;
	z-index:1;
}

.formsub{
	width:7.01rem;
	height:.74rem;
	line-height:.74rem;
	text-align:center;
	font-size:.3rem;
	background:#5373c6;
	background-size:100%;
	color:#fff;
	font-weight:bold;
	border-radius:.1rem;
}

/*客服*/
.kefu{
	display:block;
	width:2.2rem;
	height:.65rem;
	line-height:.65rem;
	margin:1rem auto;
	padding-left:.68rem;
	font-size:.35rem;
	color:#7d7979;
	background:url(../images/icon-kefu.png) left center no-repeat;
	background-size:.53rem .55rem;
}

/*我的预约*/
.my_order{
	padding:.22rem;
}
.order_list{
	width:100%;
	border-radius:.1rem;
	overflow:hidden;
	box-shadow: 0 .05rem .1rem #e2e2e2;
	margin: 0 0 .22rem 0;
}
.order_time{
	background:#5373c6;
	color:#fff;
	font-size:.28rem;
	line-height:.55rem;
	padding:.13rem .45rem .1rem .45rem;
}
.order_zt{
	height:.82rem;
	line-height:.8rem;
	background:#fff;
	font-size:.28rem;
	padding:0 .46rem;
}
.order_zt .order_success{
	color:#f70707;
}

.red{
	color:#f00;
}
.fuwuxuzhi{
	text-align:center;
	font-size:.25rem;
	line-height:.25rem;
}
.fuwuxuzhi input{
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	width:.25rem;
	height:.25rem;
	background:#fff;
	position:relative;
	top:.04rem;
	margin-right:.1rem;
	outline:none;
}
.fuwuxuzhi input:checked{
	background:url(../images/check.png) center center no-repeat;
	background-size:100%;
}
.fuwuxuzhi span{
	cursor:pointer;
}
.eject.eject-xuzhi{
	left:50%;
	top:50%;
	margin:-4.6rem 0 0 -3.4rem;
	width:6.8rem;
	height:9rem;
}
.eject.eject-xuzhi .tipsss{
	-webkit-overflow-scrolling: touch;
	height:9rem;
	overflow-y:scroll;
}
.eject.eject-xuzhi .eject-cont{
	width:100%;
}

/*进度条*/


/* Webkit animation keyframes */
@-webkit-keyframes animate-stripes {
  from {
    background-position: 0 0;
  }
  
  to {
   background-position: 44px 0;
  }
}

/* Bar which is placed behind the progress */
.ui-progress-cont{
	position:absolute;
	left:50%;
	top:50%;
    width:6rem;
	height:.36rem;
	margin:-.18rem 0 0 -3rem;
}
.ui-progress-bar {
  /* Usual setup stuff */
  position: relative;
  height: .36rem;
  
  /* Pad right so we don't cover the borders when fully progressed */
  
  /* For browser that don't support gradients, we'll set a blanket background colour */
  background-color: #abb2bc;
  
  /* Rounds the ends, we specify an excessive amount to make sure they are completely rounded */
  /* Adjust to your liking, and don't forget to adjust to the same amount in .ui-progress */
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  
  /* Webkit background gradient */
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b6bcc6), color-stop(1, #9da5b0));
  /* Mozilla background gradient */
  background: -moz-linear-gradient(#9da5b0 0%, #b6bcc6 100%);
}

/* Progress part of the progress bar */
.ui-progress {
  /* Usual setup stuff */
  position: relative;
  display: block;
  overflow: hidden;
  
  /* Height should be 2px less than .ui-progress-bar so as to not cover borders and give it a look of being inset */
  height: .36rem;
  
  /* Rounds the ends, we specify an excessive amount to make sure they are completely rounded */
  /* Adjust to your liking, and don't forget to adjust to the same amount in .ui-progress-bar */
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  
  /* Set the background size so the stripes work correctly */
  -webkit-background-size: 44px 44px; /* Webkit */
  
  /* For browser that don't support gradients, we'll set a blanket background colour */
  background-color: #74d04c;
  
  /* Webkit background stripes and gradient */
  background: -webkit-gradient(linear, 0 0, 44 44,
    color-stop(0.00, rgba(255,255,255,0.17)),
    color-stop(0.25, rgba(255,255,255,0.17)),
    color-stop(0.26, rgba(255,255,255,0)),
    color-stop(0.50, rgba(255,255,255,0)),
    color-stop(0.51, rgba(255,255,255,0.17)),
    color-stop(0.75, rgba(255,255,255,0.17)),
    color-stop(0.76, rgba(255,255,255,0)),
    color-stop(1.00, rgba(255,255,255,0))
  ), -webkit-gradient(linear, left bottom, left top, color-stop(0, #74d04c), color-stop(1, #9bdd62));
  
  /* Mozilla (Firefox etc) background stripes */
  /* Note: Mozilla's support for gradients is more true to the original design, allowing gradients at 30 degrees, as apposed to 45 degress in webkit. */
  background: -moz-repeating-linear-gradient(top left -30deg, 
    rgba(255,255,255,0.17), 
    rgba(255,255,255,0.17) 15px, 
    rgba(255,255,255,0) 15px, 
    rgba(255,255,255,0) 30px
  ), -moz-linear-gradient(#9bdd62 0%, #74d04c 100%);
  
  /* Webkit embossing */
  -webkit-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
  /* Mozilla embossing */
  -moz-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
  /* IE9 and Opera embossing */
  box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
  
  /* Give it a higher contrast outline */
  border: 1px solid #4c8932;
  
  /* Webkit magic */
  -webkit-animation: animate-stripes 2s linear infinite;
  
  /* TODO: Wait for Mozilla to support animation, then implement */
}

/* Progress indicator text */
.ui-progress span.ui-label {
  font-size: .23rem;
  position: absolute;
  right: 0;
  line-height: .36rem;
  padding-right: 12px;
  color: rgba(0,0,0,0.6);
  text-shadow: rgba(255,255,255, 0.45) 0 1px 0px;
  white-space: nowrap;
}
.eject-progress-bar{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;background-color:rgba(0,0,0,0.8);
	z-index:8;
	display:none;
}



















