<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hello.dao.FullPaymentHouseMapper">
  <resultMap id="BaseResultMap" type="com.hello.model.pojo.FullPaymentHouse">
    <id column="full_payment_house_id" jdbcType="INTEGER" property="fullPaymentHouseId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="market_value" jdbcType="INTEGER" property="marketValue" />
    <result column="right_of_peopleNumber" jdbcType="INTEGER" property="rightOfPeoplenumber" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    full_payment_house_id, user_id, user_phone, market_value, right_of_peopleNumber, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from full_payment_house
    where full_payment_house_id = #{fullPaymentHouseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from full_payment_house
    where full_payment_house_id = #{fullPaymentHouseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hello.model.pojo.FullPaymentHouse">
    insert into full_payment_house (full_payment_house_id, user_id, user_phone, 
      market_value, right_of_peopleNumber, create_time, 
      update_time)
    values (#{fullPaymentHouseId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{userPhone,jdbcType=VARCHAR}, 
      #{marketValue,jdbcType=INTEGER}, #{rightOfPeoplenumber,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hello.model.pojo.FullPaymentHouse">
    insert into full_payment_house
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fullPaymentHouseId != null">
        full_payment_house_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="marketValue != null">
        market_value,
      </if>
      <if test="rightOfPeoplenumber != null">
        right_of_peopleNumber,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fullPaymentHouseId != null">
        #{fullPaymentHouseId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="marketValue != null">
        #{marketValue,jdbcType=INTEGER},
      </if>
      <if test="rightOfPeoplenumber != null">
        #{rightOfPeoplenumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hello.model.pojo.FullPaymentHouse">
    update full_payment_house
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="marketValue != null">
        market_value = #{marketValue,jdbcType=INTEGER},
      </if>
      <if test="rightOfPeoplenumber != null">
        right_of_peopleNumber = #{rightOfPeoplenumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where full_payment_house_id = #{fullPaymentHouseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hello.model.pojo.FullPaymentHouse">
    update full_payment_house
    set user_id = #{userId,jdbcType=INTEGER},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      market_value = #{marketValue,jdbcType=INTEGER},
      right_of_peopleNumber = #{rightOfPeoplenumber,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where full_payment_house_id = #{fullPaymentHouseId,jdbcType=INTEGER}
  </update>

  <!--根据用户id获取相关信息-->
  <select id="getFullPaymentHouseByUserId" parameterType="int" resultType="com.hello.model.pojo.FullPaymentHouse">
      select * from full_payment_house where user_id = #{userId}
    </select>
</mapper>